<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<style>
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
   height:100px;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    overflow:auto;

}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Star Arsis</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <%= stylesheet_link_tag "normalize.css" %>
    <%= stylesheet_link_tag "flag-icon.min.css" %>
    <%= stylesheet_link_tag "cs-skin-elastic.css" %>
    <%= stylesheet_link_tag "style.css" %>

    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <%= stylesheet_link_tag "jqvmap.min.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" %>


    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>


        <!-- Left Panel -->

     <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><%= image_tag("logo.png", :alt => "Logo") %></a>
                <a class="navbar-brand hidden" href="./"><%= image_tag("logo2.png", :alt => "Logo") %></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="/index/index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Liquidación</h3><!-- /.menu-title -->
                    <li class="active">
                        <a href="/index/loadFile" > <i class="menu-icon fa fa-laptop"></i>Cargar archivo</a>
                       
                    </li>
                    <li>
                        <a href="/index/liquidar"> <i class="menu-icon fa fa-table"></i>Liquidar archivo autoral</a>
                       
                    </li>
                    <li>
                        <a href="/index/liquidar_fonografico"> <i class="menu-icon fa fa-table"></i>Liquidar archivo fonografico</a>
                       
                    </li>
                    <li>
                        <a href="/index/liquidar_general_autor"> <i class="menu-icon fa fa-table"></i>Liquidación general autoral</a>
                       
                    </li>
                    <li>
                        <a href="/index/liquidar_general_fonografico"> <i class="menu-icon fa fa-table"></i>Liquidación general fonografico</a>
                       
                    </li>
                    <!--
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li>
                    -->
                    
                    <h3 class="menu-title">Consultas y reportes</h3><!-- /.menu-title -->

                    <li >
                        <a href="/index/loadClient"> <i class="menu-icon fa fa-tasks"></i>Clientes</a>
                        
                    </li>
                    <li>
                        <a href="/index/loadAgrupation"> <i class="menu-icon fa fa-tasks"></i>Agrupación</a>
                    </li>
                    <li>
                        <a href="/index/loadSong"> <i class="menu-icon fa fa-tasks"></i>Obra</a>
                    </li>
                    <li>
                        <a href="/index/diccionario"> <i class="menu-icon fa fa-tasks"></i>Diccionario</a>
                    </li>
                     <li>
                        <a href="/index/loadFormat"> <i class="menu-icon fa fa-tasks"></i>Formato</a>
                    </li>
                    <li>
                        <a href="/index/obrasAutorales"> <i class="menu-icon fa fa-tasks"></i>Obras autorales</a>
                    </li>
                    <li>
                        <a href="/index/obrasFono"> <i class="menu-icon fa fa-tasks"></i>Obras fonograficas</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="count bg-danger">5</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notification">
                        <p class="red">You have 3 Notification</p>
                        <a class="dropdown-item media bg-flat-color-1" href="#">
                            <i class="fa fa-check"></i>
                            <p>Server #1 overloaded.</p>
                        </a>
                        <a class="dropdown-item media bg-flat-color-4" href="#">
                            <i class="fa fa-info"></i>
                            <p>Server #2 overloaded.</p>
                        </a>
                        <a class="dropdown-item media bg-flat-color-5" href="#">
                            <i class="fa fa-warning"></i>
                            <p>Server #3 overloaded.</p>
                        </a>
                    </div>
                </div>

                <div class="dropdown for-message">
                  <button class="btn btn-secondary dropdown-toggle" type="button"
                  id="message"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ti-email"></i>
                  <span class="count bg-primary">9</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="message">
                <p class="red">You have 4 Mails</p>
                <a class="dropdown-item media bg-flat-color-1" href="#">
                    <span class="photo media-left"><%= image_tag("1.jpg", :alt => "avatar") %></span>
                    <span class="message media-body">
                        <span class="name float-left">Jonathan Smith</span>
                        <span class="time float-right">Just now</span>
                        <p>Hello, this is an example msg</p>
                    </span>
                </a>
                <a class="dropdown-item media bg-flat-color-4" href="#">
                    <span class="photo media-left"><%= image_tag("2.jpg", :alt => "avatar") %></span>
                    <span class="message media-body">
                        <span class="name float-left">Jack Sanders</span>
                        <span class="time float-right">5 minutes ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </span>
                </a>
                <a class="dropdown-item media bg-flat-color-5" href="#">
                    <span class="photo media-left"><%= image_tag("3.jpg", :alt => "avatar") %></span>
                    <span class="message media-body">
                        <span class="name float-left">Cheryl Wheeler</span>
                        <span class="time float-right">10 minutes ago</span>
                        <p>Hello, this is an example msg</p>
                    </span>
                </a>
                <a class="dropdown-item media bg-flat-color-3" href="#">
                    <span class="photo media-left"><%= image_tag("4.jpg", :alt => "avatar") %></span>
                    <span class="message media-body">
                        <span class="name float-left">Rachel Santos</span>
                        <span class="time float-right">15 minutes ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-5">
    <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("admin.jpg", :alt => "User Avatar", :class => "user-avatar rounded-circle") %>
        </a>

        <div class="user-menu dropdown-menu">
            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
        </div>
    </div>

    <div class="language-select dropdown" id="language-select">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
            <i class="flag-icon flag-icon-us"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="language" >
            <div class="dropdown-item">
                <span class="flag-icon flag-icon-fr"></span>
            </div>
            <div class="dropdown-item">
                <i class="flag-icon flag-icon-es"></i>
            </div>
            <div class="dropdown-item">
                <i class="flag-icon flag-icon-us"></i>
            </div>
            <div class="dropdown-item">
                <i class="flag-icon flag-icon-it"></i>
            </div>
        </div>
    </div>

</div>
</div>

</header><!-- /header -->

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Cargar documento</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Cargar documento</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Carga</strong> <small>documento</small>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-body card-block">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label class=" form-control-label">Nombre documento</label>
                                            <div class="input-group">
                                                <input type="text" required id="nombre" name="nombre">
                                            </div>
                                            <small class="form-text text-muted">Nombre documento</small>
                                        </div>
                                        
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xs-6 col-sm-6">
                                            <label class=" form-control-label">Tipo de uso / producto</label>
                                            <div class="input-group">
                                            <%= select_tag "tipo_aparicion", options_from_collection_for_select(TipoAparicion.all, :Id_Tipo_aparicion, :Nombre_tipo_aparicion), {:class=>'standardSelect', :prompt => 'Tipo aparicion'}  %>
                                            </div>
                                            <small class="form-text text-muted">Tipo de uso / producto </small>
                                        </div>
                                        
                                        <div class="col-xs-6 col-sm-6">
                                            <label class=" form-control-label">Fecha de liquidación</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-list-ol"></i></div>
                                                <input type="date" required id="date" name="fecha">
                                            </div>
                                            <small class="form-text text-muted">Fecha de liquidación</small>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="col-xs-6 col-sm-6">
                                            <label>Formato proveniente</label>
                                            <%= select_tag "organizacion", options_from_collection_for_select(FormatoDocumento.all, :id, :nombre_formato), {:class=>'standardSelect', :prompt => 'Organizacion'}  %>
                                            <small class="form-text text-muted">seleccione la organización</small>
                                        </div>

                                        <div class="col-xs-6 col-sm-6">
                                            <div class="form-group">
                                                <input id="input-excel" name="document" type="file" class="form-control-file" name="file">
                                                <small class="form-text text-muted">cargue el documento</small>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-xs-4 col-sm-4">
                                            <label>Mas Iva</label>
                                            <input name="mas_iva" type="text" required value="0" id="mas_iva" class="form-control-file">
                                            <small class="form-text text-muted">Mas iva</small>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <label>Iva incluido</label>
                                            <input name="iva_incluido" type="text" required value="0" id="iva_incluido"  class="form-control-file">
                                            <small class="form-text text-muted">Iva incluido</small>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <label>Descuento</label>
                                            <input name="descuento" type="text" required value="0" id="descuento"  class="form-control-file">
                                            <small class="form-text text-muted">Descuento</small>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xs-4 col-sm-4">
                                            <label>Euro - Dolar</label>
                                            <input name="euro_dolar" type="text"  value="0" id="euro_dolar" class="form-control-file">
                                            <small class="form-text text-muted">Euro - Dolar</small>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <label>Dolar - Peso</label>
                                            <input name="dolar_peso" type="text"  value="0" id="dolar_peso" class="form-control-file">
                                            <small class="form-text text-muted">Dolar - Peso</small>
                                        </div>
                                        <div class="col-xs-4 col-sm-4">
                                            <label>Territorio</label>
                                            <select id="territorio">
                                                <option value=1>Nacional</option>
                                                <option value=0>Internacional</option>
                                            </select>
                                            <small class="form-text text-muted">Territorio</small>
                                        </div>
                                        
                                    </div>
                                    

                                    <div class="form-row">
                                        <div class="col-xs-6 col-sm-6">
                                            <label>Observaciones</label>
                                            <textArea name="comentario" row="6"></textArea>
                                            <small class="form-text text-muted">Observaciones</small>
                                        </div>
                                    </div>
                                    <button type="button" onclick="return loadFile()" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Subir documento
                                    </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div><!-- .animated -->
    </div> <!-- .content -->
</div><!-- /#right-panel -->

<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <p>Obras no subidas<br /><p id="obr"></p></p>
    </div>
</div>


<%= javascript_include_tag('application.js') %>

<%= javascript_include_tag('plugins.js') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<%= javascript_include_tag('main.js') %>
<%= javascript_include_tag('xlsx.full.min.js') %>

<%= javascript_include_tag('dashboard.js') %>
<%= javascript_include_tag('widgets.js') %>
<%= javascript_include_tag('jquery.vmap.js') %>
<%= javascript_include_tag('jquery.vmap.min.js') %>
<%= javascript_include_tag('jquery.vmap.sampledata.js') %>
<%= javascript_include_tag('jquery.vmap.world.js') %>

<script>
    function loadFile(){

      

        var file = document.getElementById('input-excel').files[0];
        var reader = new FileReader();
        if(document.getElementById("organizacion").value != 6){

            reader.readAsArrayBuffer(file);
            
            reader.onload = function(file) {
                var dta = {};
                dta.socio = document.getElementById("organizacion").value
                    var datas = [];
                    var data = new Uint8Array(reader.result);
                    var wb = XLSX.read(data,{type:'array'});
                    var csv = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]], {header:1});
                    for(var i = 1; i < csv.length; i++){

                        dataAux = []
                        for(var j = 0; j < csv[i].length; j++){
                            if(csv[i][j] == null){
                            dataAux.push('');

                            }else{
                            dataAux.push(csv[i][j]);

                            }
                        }
                        datas.push(dataAux)

                    }
                    dta.document = datas;
                
                    
                
                dta.socio = document.getElementById("organizacion").value
                dta.fecha = document.getElementById("date").value
                dta.tipo_aparicion = document.getElementById("tipo_aparicion").value
                dta.nombre = document.getElementById("nombre").value
                dta.document_blob = new Blob([data])
                dta.mas_iva = document.getElementById("mas_iva").value
                dta.iva_incluido = document.getElementById("iva_incluido").value
                dta.descuento = document.getElementById("descuento").value
                dta.euro_dolar = document.getElementById("euro_dolar").value
                dta.dolar_peso = document.getElementById("dolar_peso").value
                dta.territorio = document.getElementById("territorio").options[document.getElementById("territorio").selectedIndex].value;
                $.ajax({
                    type: "POST",
                    url: "/executeLoadFile",
                    async: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(dta)
                }).done(function(status){
                    str = "";
                    for(var i = 0; i < status.no_subido.length; i++){
                        str += status.no_subido[i] + '\n'
                    }
                    
                    document.getElementById("obr").innerText += str 
                    $('.hover_bkgr_fricc').show();           
                    
                    });
                return false

            }

        }else{
            console.log("alv")
        
           
            reader.readAsText(file);

            reader.onload = function(file) {
                console.log(event.target.result)
                var dta = {};
                var csv = event.target.result.split(/\n/);

                    dta.document = csv;
                
                console.log(csv) 
                
                dta.socio = document.getElementById("organizacion").value
                dta.fecha = document.getElementById("date").value
                dta.tipo_aparicion = document.getElementById("tipo_aparicion").value
                dta.nombre = document.getElementById("nombre").value
                dta.mas_iva = document.getElementById("mas_iva").value
                dta.iva_incluido = document.getElementById("iva_incluido").value
                dta.descuento = document.getElementById("descuento").value
                dta.document_blob = new Blob([csv])
dta.euro_dolar = document.getElementById("euro_dolar").value
                dta.dolar_peso = document.getElementById("dolar_peso").value
                dta.territorio = document.getElementById("territorio").options[document.getElementById("territorio").selectedIndex].value;
                $.ajax({
                    type: "POST",
                    url: "/executeLoadFile",
                    async: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(dta)
                }).done(function(status){
                    str = "";
                    for(var i = 0; i < status.no_subido.length; i++){
                        str += status.no_subido[i] + '\n'
                    }
                    document.getElementById("obr").innerText += str 
                    $('.hover_bkgr_fricc').show();
                });
                return false

            }
        }
    }
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
        location.reload()
    });
    ( function ( $ ) {
        "use strict";
        jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } );
    } )( jQuery );
</script>

</body>
</html>